.text-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-center h1 {
    margin-right: 20px;
}

.gif-container {
    /* Additional styles for gif container if needed */
}

.gif {
    width: 100px;
    height: auto;
}