<div class="text-center">
  <h1>Welcome to CarList</h1>
  <div class="gif-container">
    <img src="../../../assets/images/car.gif" alt="Car GIF" class="gif">
  </div>
</div>
<div class="info-box">
  <p>Welcome to CarList, your ultimate destination for exploring a wide range of cars. Whether you are looking for the
    latest models or classic beauties, we've got you covered. You can explore our site without an account or sign in for
    a personalized experience.</p>
  <div class="button-container">
    <button class="explore-button">Explore the Site</button>
    <button class="signin-button" routerLink="/login">Sign In</button>
  </div>
</div>