<div class="login-container">
    <form class="login-form">
        <h2>Register</h2>
        <div class="input-group">
            <input type="text" id="username" required>
            <label for="username">Username</label>
        </div>
        <div class="input-group">
            <input type="email" id="email" required>
            <label for="email">Email</label>
        </div>
        <div class="input-group">
            <input type="password" id="password" required>
            <label for="password">Password</label>
        </div>
        <div class="input-group">
            <input type="password" id="confirmPassword" required>
            <label for="confirmPassword">Confirm Password</label>
        </div>
        <button type="submit">Sign up</button>

        <div class="register-footer">
            <a href="/login">Already have an account?</a>
        </div>
    </form>
</div>