nav {
  height: 60px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  /* Cambiato da flex-end a space-between */
  align-items: center;
}

.title {
  margin: 5px;
  display: flex;
  align-items: center;
  color: white;
}

.links-container {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  /* Spinge .links-container a destra */
}

nav a {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.links-container a:hover {
  background-color: var(--secondary-color);
}

nav .home-link {
  margin-right: auto;
}

nav svg {
  fill: white;
}

#sidebar-active {
  display: none;
}

.open-sidebar-button,
.close-sidebar-button {
  padding: 0 20px;
  display: none;
}

@media(max-width: 700px) {
  .links-container {
    flex-direction: column;
    align-items: flex-start;

    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 300px;

    background-color: var(--primary-color);
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.5);
    transition: 0.75s ease-out;
  }

  nav a {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
  }

  .open-sidebar-button,
  .close-sidebar-button {
    padding: 20px;
    display: block;
    cursor: pointer;
  }

  #sidebar-active:checked~.links-container {
    right: 0;
  }
}