<div class="container">
    <h2>Welcome in Carlist homepage</h2>
    <p>Hi, {{username}}<br>
        Click on the buttons below and discover all the features of our website.<br><br>
        Enjoy!😎<br><br>
    </p>

    <div class="buttons">
        <button class="btn" (click)="openDialog()">My List</button>
        <button class="btn" (click)="openDialog()">Search Car</button>
        <button class="btn" (click)="openDialog()">Add Car</button>
        <button class="btn" (click)="openDialog()">My Requests</button>
    </div>

</div>