/* You can add global styles to this file, and also import other style files */
:root{
    --primary-color: #AC2F17;
    --secondary-color: #FFD700;
    --third-color: #addeda;
}

body{
    font-family: 'BioRyme', serif;
    background-color: var(--third-color);
}